.container {
  width: 100%;
  height: 100%;
  font-family: Helvetica Neue, Arial, sans-serif;
  margin: 0 auto;
  min-width: 800px;
  max-width: 1200px;
}

/*****************/
/* NAV BAR       */
/*****************/

.nav-bar {
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 1px dotted #50B2C1;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  text-align: right;
}

li {
  display: inline;
  width: 100%;
  font-size: 1.2em;
  padding-bottom: 5px;
}

.nav-bar a {
  margin-right: 60px;
  cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
  color: #272722;
  text-decoration: none;
}

/*************/
/* HOME PAGE */
/*************/

#ks-img img {
  /*width: 200px;*/
  width: 200px;
  height: auto;
  border-radius: 50%;
  float: left;
  margin-left: 75px;
  margin-right: 25px;
  margin-top: 50px;
  margin-bottom: 25px;
}

header {
/*  width: 100%;
  height: 500px;*/
  margin-top: 120px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.hello {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3em;
  margin-bottom: 35px;
  line-height: 1.2em;
}

.tag-line {
  margin-top: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2em;
  line-height: 1.1em;
}

.twitter {
  border: 1px solid grey;
  width: 100px;
}

/**************/
/* ABOUT PAGE */
/**************/

.head {
  margin-top: 50px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 4em;
}

h3 {
  font-size: 50px;
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 15px;
  margin-left: 0;
  font-weight: bold;
  color: #50B2C1;
}

section {
  width: 90%;
  margin-left: 50px;
  margin-top: 60px;
  margin-right: 100px;
}

section .about-page {
  float: left;
}

section p {
  font-size: 1.2em;
  line-height: 1.5em;
}

.contact {
  width: 50%;
  min-width: 500px;
  margin-left: 50px;
  margin-bottom: 80px;
}

.contact-head {
  color: #50B2C1;
  font-weight: bold;
}

/***************/
/* RESUME PAGE */
/***************/

.resume a {
  color: #E94155;
  cursor: pointer;
}

.red {
  color: #E94155;
}

object {
  width: 100%;
  height: auto;
}

.resume-container {
  margin-left: 100px;
  margin-right: 100px;
  min-width: 1000px;
  height: auto;
}

.resume {
  margin-bottom: 100px;
}

object {
  width: 900px;
  height: 1000px;
}

/*****************/
/* PROJECTS PAGE */
/*****************/

.projects-page .head {
  margin-bottom: 40px;
}

.projects-page img {
  width: 100%;
  border: 1px solid #ECF0F1;
  margin-bottom: 10px;
}

.ea-proj {
  margin-bottom: 50px;
}

hr {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 90%;
  border-top: 1px dotted #50B2C1;
}